<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>98489008984-4gdm4qdfjvcvfrikrnqpdsecpgn096ur.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.98489008984-4gdm4qdfjvcvfrikrnqpdsecpgn096ur</string>
	<key>API_KEY</key>
	<string>AIzaSyC12hJ4Q0iHjRFjF3QuTbdc7p26L5OpBN0</string>
	<key>GCM_SENDER_ID</key>
	<string>98489008984</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ddea</string>
	<key>PROJECT_ID</key>
	<string>ddea-b43b5</string>
	<key>STORAGE_BUCKET</key>
	<string>ddea-b43b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:98489008984:ios:10e37d26a443437c4f1b2d</string>
</dict>
</plist>